mat-card {
  border-radius: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mat-card-title {
    font-size: 24px;
  }
  mat-form-field {
    min-width: 320px;
    text-align: center;
  }
  mat-card-actions {
    margin-top: 10px;
  }

  button {
    width: 95px;
    background: #000000;
    color: #ffffff;
    border-radius: 0;
    &[disabled] {
      background-color: rgba(0, 0, 0, .12);
      color: rgba(0, 0, 0, .26);
      cursor: no-drop;
    }
  }
}

table {
  width: 100%;
  margin: 30px auto;
}
@media screen and (max-width: 700px) {
  mat-card {
    padding: 30px 10px;
    mat-card-title {
      font-size: 18px;
    }
  }
  mat-form-field {
    min-width: 320px;
    text-align: center;
  }

  .mat-cell {
    font-size: 12px;
  }
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 2px;
  }
  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 2px;
  }
}


